// Mixins Here

.center-me(@display, @direction, @justify-c, @align-c) {
  display: @display;
  flex-direction: @direction;
  justify-content: @justify-c;
  align-content: @align-c;
}

.display-none {
  display: none;
}

.btn-style(@bg, @color) {
  background: @bg;
  color: @color;
}

.btn-style-hover(@bg-hover, @color-hover) {
  background: @bg-hover;
  color: @color-hover;
}
