// Navigation code here

.header-wrap {
  width: 100vw;
  background: @footer-background;
  //   border: 2px dashed orange;
}
header {
  width: 100%;
  .center-me(flex, column, center, center);
}

h1 {
  font-size: 4.5em;
  align-self: center;
  padding-bottom: 10px;
  justify-content: center;
  display: flex;
}

nav {
  display: flex;
  align-self: center;
  width: 50%;
  padding-bottom: 10px;
  padding-top: 15px;
  justify-content: center;
  margin: 0 auto;

  a {
    display: flex;
    width: 22%;
    font-size: 1.5em;
    height: 20px;
    text-decoration: none;
    color: @nav-font;
    justify-content: center;
    align-self: center;

    @media @mobile {
      width: 15%;
    }
  }

  @media @mobile {
    width: 100%;
  }
}
