// Navigation code here

.header-wrap {
  width: 100vw;
  background: @footer-background;
  //   border: 2px dashed orange;
}
header {
  width: 100%;
  .center-me(flex, column, center, center);
}

h1 {
  font-size: 4.5em;
  align-self: center;
  padding-bottom: 10px;
}

nav {
  display: flex;
  align-self: center;
  width: 50%;
  padding-bottom: 10px;
  padding-top: 15px;
  justify-items: space-between;

  a {
    width: 25%;
    font-size: 1.5em;
    height: 20px;
    text-decoration: none;
    color: @nav-font;
  }
}
